.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.body-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

.map-container {
  height: 100%;
  padding-top: 51px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
}

.angular-google-map {
  height: 100%;
}

.angular-google-map-container {
  height: 100%;
}

.result-list-container {
  height: 100%;
  float: right;
  background-color: rgba(230, 230, 230, 0.85);
  padding-top: 51px;
  overflow-y: auto;
  border-left: dotted #f8f8f8 4px;
}

.result-list-item {}

.result-list-item:hover {
  box-shadow: 2px 2px 5px #a4a4a4;
}

.result-list-item-p {
  color: rgba(0,0,0,0.54);
}
